page-profil{
  .profileStatistics{
    margin: 2px;
    margin-left: 5px;
    color: inherit;
    font-size: inherit;
    border-bottom: 1px;
  }
  #profilCommentsAmount{
    margin-top:20px;
  }
  #profileLogoutButton{
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: color($colors, secondaryGreen);
  }
}
