page-home{
ion-item-sliding{
margin-bottom: 10px;
}

ion-item{
  min-height: 200px !important;
p{  font-size:2.3rem !important;
    color: color($colors, dark) !important;
    margin-bottom:30px !important;}

}
}
