page-profil {

.head{
  text-align:right;
  height:10%
}
  .top {
    height: 40%;
    display: grid;

  }
  .top-items {
    margin: auto;
    text-align: center;
  }
  .body{
    height: 50%
  }
  .head{
    text-transform: uppercase;
    font-size: 12pt;
  }

  #logoutItem{
	   //background-color: color($colors, secondaryGreen);
     margin-top:20px;
   }
}
