page-post {
  .secondLevel {
    padding-top: 10px;
    margin:auto;
    width:  90%;

  }

  ion-item {
    min-height: 100px !important;
    p {
      font-size: 1.5rem !important;
      color: color($colors, dark) !important;
      margin-bottom: 45px !important;
    }
  }
}
